h1 {
	font-family: Impact;
	font-weight: bold;
	font-size: 60;
	color: #13A1CB;
	text-align: center;
	background-color: #1F1209;
	border: 4px black line;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 25px;
	padding-right: -30px;
	padding-left: -30px;
}

h3 {
	text-align: center;
	font-weight: bold;
	font-style: underline;
}

h2 {
	text-align: center;
	font-weight: bold;

}

p {
	text-align: center;
	font-size: 30px;
}

body {
	background-color: #003366;
}

img {
	padding-right: 50px;
}

h5 {
	bottom: -500px;
	text-align: center;
	background-color: #1F1209;
	color: #13A1CB;
	border-radius: 100px;
}

li {
	font-size: 25px;
}

#intro {
	text-align: left;
	font-size: 18px;
	padding-bottom: 50px;
	font-family: Helvetica;
}